# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
venv/
ENV/
env/
build/
dist/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Other
*.sqlite
*.db
*.bak
*.tmp
*.swp